@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    overflow-x: hidden;
}

a.externo::after{
    content: '\1F517';
}

header { 
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.150);
}

nav{
    background-color: var(--cor5);
    padding: 20px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}



nav li{
    display: inline;
    letter-spacing: 2px;
}

nav a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--font-padrao);
    text-transform: capitalize;
    transition-duration: 0.3s;
    padding-left: 20px;
    padding-bottom: 40px;
}

@media (max-width: 500px){
    nav a{
        display: block;
    }
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}


.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

@media (max-width: 500px){
    .nav-list{
        position: absolute;
        top: 50.4vh;
        right: 0;
        width: 50vw;
        height: 43vh;
        background-color: #063d1e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
    }
}

main{

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    border-radius: 0px 0px 10px 10px;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8
}

main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    line-height: 1.9em
}

main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 8px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: #83e1ad6e;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.220);
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    font-family: var(--font-destaque);
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px;
    margin: -30px -30px 0px -30px;
    border-radius: 10px 10px 0px 0px ;
}

aside > p {
    font-weight: bold;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

@media (max-width: 560px){
    aside > ul {
        columns: 1;
    }
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 20px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

